<p>
  <% pre_like = likeable.likes.find { |like| like.user == current_user} %>
  <% if pre_like %>
    <%= button_to 'Unlike', post_like_path(likeable, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_likes_path(likeable), method: :post %>
  <% end %>
</p>